



body {
    
    color: var(--mainBlack);
    background: var(--mainWhite);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.4;
  }
  .section7{
    padding-top: 20px;
    background-color:rgb(42, 105, 187);
    color: white;
  }
  .section7 hr{
    border: 1px solid whitesmoke;
    width: 100%;
  }
  .section7 li{
    padding: 20px;
  }
  .section7 icon{
    color: yellow;
  }
  .section7 p{
    padding-top: 30px;
  }
  h1 {
    font-size: 3em;
    line-height: 1;
    margin-bottom: 0.5em;
  }
  h2 {
    font-size: 2em;
    margin-bottom: 0.75em;
  }
  h3 {
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 1em;
    text-decoration: none;
  }
  h4 {
    font-size: 1.2em;
    line-height: 1.25;
    margin-bottom: 1.25em;
  }
  h5 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.5em;
  }
  h6 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.5em;
  }


  
  .btn-primary {
    display: inline-block;
    text-decoration: none;
    letter-spacing: var(--mainSpacing);
    color: var(--mainBlack);
    background: var(--primaryColor);
    padding: 0.4rem 0.9rem;
    border: 3px solid var(--primaryColor);
    transition: var(--mainTransition);
    text-transform: uppercase;
    cursor: pointer;
  }
  .logor h3{
margin-top: 22px;
text-decoration: none;

  }
  .logor h3:hover{
  
    text-decoration: none;
    
      }
      .bt
  .btn-primary:hover {
    background: transparent;
    color: var(--primaryColor);
  }
  .loading {
    text-transform: capitalize;
    text-align: center;
    margin-top: 3rem;
  }
  .error {
    text-align: center;
    text-transform: uppercase;
    margin: 2rem 0;
  }
  .empty-search {
    text-align: center;
    text-transform: capitalize;
    margin: 2rem 0;
    padding: 1rem;
    letter-spacing: var(--mainSpacing);
  }
  /* end of globals */
  /* Navbar */
  .navbar {
    
    
    width: 100%;
    padding: 0.75rem 2rem;
    background: var(--offWhite);
    z-index: 1;
  }
  .nav-header {
    display: flex;
    justify-content: space-between;
  }
  .nav-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }
  .nav-icon {
    font-size: 1.5rem;
    color: var(--primaryColor);
  }
  .nav-links {
    height: 0;
    overflow: hidden;
    transition: var(--mainTransition);
    list-style-type: none;
    margin-top: 20px;
  }
  .nav-links a {
    display: block;
    text-decoration: none;
    color:navy;
    transition: var(--mainTransition);
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: var(--mainSpacing);
    font-weight: bold;

  }
  .nav-links a:hover {
    color: orangered;
    text-decoration: none;
  }
  .text{
margin-top: 150px;
margin-left: -40px;
  }

  .button h5{
 border:1px solid orangered;
width: 150px;
color: white;
padding: 10px;
display: inline-block;
margin-left: 20px;
 }
 .bannerimg{
   width: 450px;
   
   margin-left:90px;
   margin-top:70px;
 }
  span{

    color: tomato;
  }

  .section2_text{

    margin-top: 80px;
    color:navy;
    font-weight: bold;
    font-size: medium;
  }

  .section2_img{

margin-top: 100px;
margin-left: 180px;

  }

  .services {
    padding: 2rem 0;
  }
  .services {
    background-color:lavender;
    text-align: center;
    margin-bottom: 40px;
    
  }
  .services-center {
    width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 50px;
    padding-top: 30px;
  }
  .inputS6{
    background-color: lavender;
    width:200;
    padding: 15px;
    padding-right: 70px;
    margin-left:40px;
  }
  .inputS5{
    background-color: lavender;
    width:200;
    padding: 15px;
    padding-right: 70px;
    
  }
  .inputS{
    background-color: orange;
    width:200;
    padding: 15px;
    margin-left: 80px;
  }

  .service span {
    display: inline-block;
    color:navy;
    font-size: 5.5rem;
  }
  .mission{
    margin-top: 50px;
  }
.mission_text{
  font-size: 15px;
}
.cont{
  text-align: center;
  margin:40px
}
  .float
		{
       float: left;
       width: 250px;
       height: 250px;
       margin-right: 30px;
    }
    .faq{
      margin-left: 30px;
    }
    .faq1{
      border: 1px solid black;
      background-color:blue;
      color:white;
      padding: 10px;
      padding-right: 30px;
      margin-top: 30px;;
    }
    .faq2{
      margin-top: 25px;
      font-weight: bold;
    }
    .faq3{
      border: 1px solid black;
      background-color:grey;
      color:white;
      padding: 10px;
      padding-right: 30px;
     margin-top: 30px;
    }
    .dessous
		{
		   clear: both;
		}
  .services p {
    width: 100%;
  }
  @media screen and (min-width: 992px) {
    .services-center {
      width: 95vw;
      max-width: 1170px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .services p {
      width: 100%;
    }
  }

  .header{
     
    background: url("./images/woman.jpg") center/cover no-repeat;
    align-items: center;
    justify-content: center;
    height:600px;
   -webkit-filter: grayscale(50%); 
   
  }
  .section2{
    background: url("./images/carte.jpg") center/cover no-repeat;
    align-items: center;
    justify-content: center;
    height:400px;
    -webkit-filter: grayscale(30%); 
  

  }
  .carousel-root {
  width: 64% !important;
  margin: auto !important;
  margin-top: 3% !important;
}

.carousel .slide {
  background: navy !important;
  color: black;
  height: 100%;
}

.carousel .slide img {
  width: 139px !important;
  border-radius: 50%;
}

.myCarousel {
  background: #fafafa;
  margin-top: -6%;
  width: 54%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  border: 1px solid #ddd;
  height: 286px;
}

.carousel .control-dots {
  padding-left: 5px !important;
  outline: 0;
  bottom: 5% !important;
}

.myCarousel h3 {
  color: #222;
  font-weight: 100;
  letter-spacing: 0.2px;
  margin-bottom: 4px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 17px;
}

.myCarousel h4 {
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 0;
  font-weight: 500;
  color: #787878;
  font-size: 14px;
}

.myCarousel p {
  font-weight: 100 !important;
  line-height: 29px !important;
  color: #222;
  font-size: 15px;
  font-family: sans-serif;
  max-height: 67px;
}

.myCarousel p:before {
  content: "“";
  color: #aaa;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
}

.myCarousel p:after {
  content: "”";
  color: #aaa;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
  line-height: 0;
}

.carousel .control-dots .dot {
  box-shadow: none !important;
  background: #454545 !important;
  outline: 0;
}

.carousel.carousel-slider .control-arrow {
  background: #000 !important;
  height: 50px !important;
  position: absolute;
  top: 35% !important;
}

.App {
  text-align: center;
}

@media only screen and (max-width: 934px) {
  .carousel-root {
    outline: 0;
    width: 93% !important;
    margin: auto !important;
  }

  .carousel.carousel-slider .control-arrow {
    display: none !important;
  }
  .myCarousel {
    background: navy;
    margin-top: -9%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    padding-bottom: 12.5%;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid #ddd;
    height: 269px;
  }

 
  .carousel .slide img {
    width: 44% !important;
    border-radius: 50%;
  }
}


  
  .show-nav {
    height: 100px;
  }
  @media screen and (min-width: 768px) {
    .nav-btn {
      display: none;
    }
    .nav-center {
      max-width: 1170px;
      margin: 0 auto;
      display: flex;
    }
    .nav-links {
      height: auto;
      display: flex;
      margin-left: 4rem;
    }
    .nav-links a {
      margin: 0 1rem;
      padding: 0.5rem 0;
    }
  }

  .text{
      color: white;
  }
  /* end of navbar */